body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c6c0c0;
}

.quiz-container {
    background-color: #f1eded;
    height: 300px ;
    width: 620px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.question-container{
    background-color: #c6c0c0;
    border-radius: 10PX;
    text-align: left;
    height: 200px;
    width: 300px;
    margin-left: 30px;
}
.question-text {

}

.options {
    list-style-type: none;
    padding-top: 20px;
    margin-top: -30px;
}

.option {
    margin-bottom: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.option input[type="radio"] {
    margin-right: 10px;

}
.option input[type="radio"]:checked + label {
    /* Define the appearance when checked, e.g., change background color */
    background-color: rgb(69, 1, 255);
}

.next {
    border: black solid 1px;
    border-radius: 5px;
    margin-left: 50px;
    padding: 5px;
    background-color: #e5dfdf;
}
.next:hover {
    background-color: rgb(169, 155, 155);
}