body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c6c0c0;
    background-image: url(/Quiz/db34d40b271fb59477621550bf73ea0b.jpg);
    background-size:cover;
}

.quiz-container {
    background-color: #f1eded;
    height: 300px ;
    width: 620px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.question-container{
    background-color: #e3ff74;
    border-radius: 10PX;
    text-align: left;
    height: 200px;
    width: 300px;
    margin-left: 30px;
    display: flex;
}
.question-text {
    padding-left: 20px;
}

.options {
    list-style-type: none;
    padding-top: 20px;
    margin-top: -30px;
}

.option {
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.option button{
    border-radius: 5px;
    padding: 15px;
}
.option button:hover {
    background-color: lightblue;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(132, 131, 159, 0.677);

}

.next {
    border: black solid 1px;
    border-radius: 5px;
    margin-left: 50px;
    padding: 5px;
    background-color: #f1eded;
    cursor: pointer; 
}
.next img {
    padding: 5px;
    padding-top: 8px ;
    padding-left: 8px;
}
.next:hover {
    background-color: lightblue;
    box-shadow: 0px 5px 15px rgba(132, 131, 159, 0.677);
}